[submodule "flakes/tribers"]
	path = flakes/tribers
	url = git@github.com:bronzewang/tribers.git
[submodule "basanos"]
	path = basanos
	url = git@github.com:bronzewang/basanos.git
[submodule "petit"]
	path = petit
	url = https://github.com/PedramNavid/petit.git
